/* For global styling of the app */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

#app {
    min-height: 100%;
}

a {
    color: var(--purple);
}

a:active {
    color: var(--red);
}

h1,
h2,
h3 {
    font-family: 'Times New Roman', Times, serif;
    color: var(--red);
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: var(--white);
    background-color: var(--darkgrey);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

#content-container {
    padding: 10px;
    top: 100px;
    bottom: 60px;
    overflow: auto;
}

footer {
    padding: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--black);
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.9rem;
    line-height: 1.1rem;
}

.appname {
    font-family: 'Rubik Distressed', cursive;
    color: var(--red);
}

.submit-button {
    display: inline-block;
    margin: auto;
    padding: 5px 10px;
    border: 2px solid var(--purple);
    font-weight: bold;
    color: var(--purple);
    background-color: var(--black);
    border-radius: 7px;
    box-shadow: none;
    font-size: 1rem;
    line-height: 1.2rem;
}

::-webkit-input-placeholder {
    font-style: italic;
 }
 :-moz-placeholder {
    font-style: italic;  
 }
 ::-moz-placeholder {
    font-style: italic;  
 }
 :-ms-input-placeholder {  
    font-style: italic; 
 }

@media screen and (min-width:500px) {
    .hide-on-desktop {
        display: none;
    }
    a:hover {
        color: var(--red);
    }
    a:active {
        color: var(--blue);
    }
    .submit-button {
        margin-top: 10px;
    }
}