:root {
    --red: hsl(355, 76%, 46%);
    --blue: hsl(198, 63%, 38%);
    --purple: hsl(278, 72%, 71%);
    --grey: hsl(225, 3%, 75%);
    --darkgrey: hsl(245, 9%, 16%);
    --black: hsl(334, 12%, 12%);
    --white: hsl(334, 12%, 90%);
}